$base-colour: #1f1f1f;
$base-colour-darker: #141313;
$secondary-colour: #ffead6;
$secondary-colour-lighter: #fff3e8;
$accent-colour: #b81b0a;
$space-small: 1vw;
$space-main: 2vw;
$space-medium: 3vw;

//default reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  font-size: 16px;
  background-color: $base-colour;
  color: $secondary-colour;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-size: 1.8rem;
  color: $secondary-colour-lighter;
}
h2 {
  font-size: 1.6rem;
  color: $secondary-colour-lighter;
}
h3 {
  font-size: 1.42rem;
  color: $secondary-colour-lighter;
}
h4 {
  font-size: 1.27rem;
  color: $secondary-colour-lighter;
}
h5 {
  font-size: 1.125rem;
  color: $secondary-colour-lighter;
}
p {
  font-size: 1rem;
}

//General Use
a {
  color: inherit;
  text-decoration: none;
}
.disabled {
  background-color: $base-colour;
  border: 1px solid $secondary-colour;
  color: $secondary-colour-lighter;
  opacity: 50%;
  pointer-events: none;
}
.textItalic {
  font-style: italic;
  color: grey;
  font-size: 1rem;
}
.hidden {
  display: none;
}
.timerHidden {
  visibility: hidden;
}
.textImportant {
  font-weight: bold;
  color: $secondary-colour-lighter;
}

.logo {
  border-radius: 100%;
}
.buttonLook,
button {
  align-self: flex-end;
  width: 100%;
  border: none;
  padding: $space-main;
  background-color: $accent-colour;
  color: $secondary-colour-lighter;
}
.buttonLook {
  padding: 0.7vw $space-main;
  align-self: center;
}
.form-group {
  flex-wrap: wrap;
}
.form-group p {
  color: $accent-colour;
  width: 100%;
  text-align: end;
}
input,
select {
  height: 1.7rem;
  background-color: $secondary-colour-lighter;
  color: $base-colour-darker;
  border: none;
}

//header and footer
header {
  background-color: $base-colour-darker;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $space-small 6vw;
  .logoDiv {
    display: flex;
    justify-content: space-between;
    column-gap: 1vw;
    align-items: center;
  }
  nav {
    margin: $space-main;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1vw;
    ul {
      display: flex;
      justify-content: space-between;
      column-gap: 7vw;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
    .buttonLook {
      width: fit-content;
    }
  }
}

footer {
  background-color: $base-colour-darker;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: $space-small 6vw;
  .footerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .links {
    padding: $space-main;
  }
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    li {
      display: flex;
      align-items: center;
      min-width: 48px;
      min-height: 48px;
    }
  }
}
//Contact
.contactMain {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5vw;
  column-gap: $space-medium;
  justify-items: center;
  align-items: center;
  height: 100%;

  #contactIMG {
    max-width: 90%;
    margin: 0 5%;
    height: auto;
  }
}

// index and schedule
.indexMain,
.scheduleMain {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5vw;
  justify-items: center;
  align-items: center;
  height: 100%;
}

//Ticket General
.ticketMain {
  position: relative;
  margin: 5vw;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $space-medium;
  section {
    padding: 4vw;
    h1 {
      margin: 0;
    }
  }
}
//ticket - sections

#infoGreet {
  background-color: $base-colour-darker;
  div {
    display: flex;
    flex-direction: column;
    row-gap: $space-main;
  }
  button {
    width: 100%;
  }
}

#infoAvail {
  background-color: $base-colour-darker;
  .availDiv {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: $space-medium;
    article {
      background-color: $base-colour;
      padding: $space-main;
      display: flex;
      flex-direction: column;
      row-gap: $space-main;
      .areaImage {
        display: flex;
        align-items: center;
      }
      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    form {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      input {
        width: 100%;
      }
    }
  }
}

#infoReserve {
  background-color: $base-colour-darker;
  article {
    display: flex;
    flex-direction: column;
    row-gap: $space-small;
    div {
      display: flex;
      flex-direction: column;
      row-gap: $space-main;
    }
  }
}

#infoSelect {
  background-color: $base-colour-darker;
  form {
    margin: 4vw 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: $space-medium;
    .formType {
      background-color: $base-colour-darker;
      padding: $space-medium;
    }
    .form-group-small {
      background-color: $base-colour;
      display: flex;
      flex-direction: column;
      padding: $space-medium;
      row-gap: $space-medium;
    }
    .form-group-big {
      background-color: $base-colour;
      display: flex;
      flex-direction: column;
      padding: $space-medium;
      row-gap: $space-medium;
    }
    .form-group {
      background-color: $base-colour-darker;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 0;
      padding: $space-medium;
      input {
        width: 45%;
      }
    }
    .formTent {
      padding: $space-medium;
      background-color: $base-colour-darker;
      label {
        justify-content: flex-start;
      }
    }
    fieldset {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      background-color: $base-colour-darker;
      border: none;
    }
    label {
      column-gap: 1vw;
      display: flex;
      justify-content: space-between;
      select {
        width: 50%;
      }
    }
  }
}

#infoGuest {
  background-color: $base-colour-darker;
  .guestCopy {
    display: flex;
    flex-direction: column;
    row-gap: $space-main;
    margin: $space-main 0;
  }
  article {
    display: flex;
    flex-direction: column;
    row-gap: $space-medium;
    form {
      padding: $space-medium 0;
      display: flex;
      flex-direction: column;
      row-gap: $space-medium;
      fieldset {
        border: none;
        background-color: $base-colour;
        display: flex;
        flex-direction: column;
        row-gap: $space-medium;
      }
    }
    div {
      display: flex;
      row-gap: $space-main;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

#infoConfirm {
  background-color: $base-colour-darker;
  div {
    display: flex;
    flex-direction: column;
    row-gap: $space-medium;
    margin: $space-main 0 0 0;
  }
}

#timer {
  position: fixed;
  z-index: 100;
  right: 2vw;
  top: 14vw;
  p {
    font-size: 0.7rem;
  }
  .timerHere {
    width: 100%;
    padding: 0.5vw $space-small;
    background-color: $secondary-colour;
    background-color: $base-colour;
    border: 2px $accent-colour solid;
    color: $secondary-colour;
  }
}

//multipages

#infoTimedOut,
#buyBought {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(240, 248, 255, 0.719);
  display: flex;
  div {
    background-color: $base-colour;
    align-self: center;
    margin: 0 auto;
    padding: 5vw 10vw;
    display: flex;
    flex-direction: column;
    row-gap: $space-small;
  }
}

//* Buy section *//

.purchaseMain {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5vw;
  height: 100%;
  column-gap: 7vw;
  position: relative;
  row-gap: $space-medium;
  section {
    height: 100%;
    padding: 4vw;
  }
}
.buyMethod {
  display: flex;
  flex-direction: column;
  row-gap: $space-medium;
  padding: $space-main;
  background-color: $base-colour-darker;
  form {
    background-color: $base-colour;
    padding: $space-main;
    display: flex;
    flex-direction: column;
    row-gap: $space-medium;
    input {
      width: 55%;
    }
    .form-group {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      p {
        width: 100%;
      }
    }
  }
}
.buyDetails {
  display: flex;
  flex-direction: column;
  row-gap: $space-main;
  padding: $space-main;
  background-color: $base-colour-darker;
  .buyDetailsSmall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
    row-gap: 5vw;
    article {
      width: 100%;
    }
  }
}
.buyBought {
  position: absolute;
}

@media screen and (min-width: 768px) {
  //General Use
  button {
    width: 40%;
    padding: 0.7vw 0;
  }
  //header and footer
  header {
    flex-direction: row;
    nav {
      margin: 0;
      ul {
        column-gap: $space-main;
      }
    }
  }
  footer {
    ul {
      li {
        min-width: 21px;
        min-height: 21px;
      }
    }
  }
  //Contact
  .contactMain {
    grid-template-columns: 1fr 1fr;
    #contactIMG {
      max-width: 50%;
    }
  }
  //Ticket General
  .ticketMain {
    margin: $space-medium 10vw;
    section {
      padding: $space-medium;
    }
  }
  //ticket - sections
  #infoGreet {
    div {
      flex-direction: row;
      justify-content: space-between;
      button {
        align-self: center;
        width: 30%;
      }
    }
  }
  #infoAvail {
    .availDiv {
      column-gap: $space-medium;
      row-gap: $space-medium;
      article {
        row-gap: $space-small;
        div {
          p {
            width: 100%;
          }
        }
      }
      form {
        input {
          width: 10%;
        }
      }
    }
  }
  #infoReserve {
    article {
      .reserveDiv {
        flex-direction: row;
        column-gap: $space-main;
      }
      button {
        align-self: center;
      }
    }
  }
  #infoSelect {
    div {
      display: flex;
      flex-direction: column;
      button {
        align-self: flex-end;
      }
    }
    form {
      .form-group {
        padding: $space-small;
        input {
          width: 60%;
        }
      }
      fieldset {
        padding: $space-small;
        flex-direction: row;
      }
    }
  }
  #infoGuest {
    .guestCopy {
      row-gap: $space-small;
      h2 {
        width: 100%;
      }
      flex-direction: row;
      flex-wrap: wrap;
    }
    article {
      form {
        padding: 0;
        row-gap: $space-small;
        fieldset {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          column-gap: $space-medium;
          padding: $space-small;
          .form-group {
            width: 50%;
            input {
              width: 50%;
            }
          }
        }
      }
      div {
        flex-direction: row;
      }
    }
  }
  #infoConfirm {
    div {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      a {
        width: 50%;
      }
      button {
        width: 100%;
      }
    }
  }
  #timer {
    right: 1vw;
    top: 8.5vw;
    p {
      font-size: 1rem;
    }
  }
  //multipages
  #infoTimedOut,
  #buyBought {
    div {
      padding: $space-medium 7vw;
    }
  }
  //* Buy section *//
  .purchaseMain {
    margin: $space-medium 10vw;
    section {
      padding: $space-medium;
    }
  }
  .buyMethod {
    justify-content: center;
    row-gap: $space-small;
    form {
      row-gap: $space-small;
    }
  }
  .buyDetails {
    row-gap: $space-small;
    .buyDetailsSmall {
      column-gap: 1vw;
    }
  }

  @media screen and (min-width: 1101px) {
    //ticket - sections
    #infoAvail {
      .availDiv {
        grid-template-columns: 1fr 1fr;
        column-gap: $space-medium;
        row-gap: $space-medium;
        article {
          row-gap: $space-small;
          div {
            p {
              width: 100%;
            }
          }
        }
        form {
          input {
            width: 10%;
          }
        }
      }
    }
    #infoSelect {
      form {
        .form-group {
          width: 49%;
        }
        .formType,
        .formTent {
          width: 49%;
        }
        .form-group-small {
          padding: $space-main;
          row-gap: $space-small;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .form-group-big {
          padding: $space-main;
          row-gap: $space-small;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
    }
    //* Buy section *//
    .purchaseMain {
      grid-template-columns: 1fr 30vw;
    }
  }
}
