$base-colour: #1f1f1f;
$base-colour-darker: #141313;
$secondary-colour: #ffead6;
$secondary-colour-lighter: #fff3e8;
$accent-colour: #b81b0a;
$accent-colour-darker: #b81b0a;

//default reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  // padding: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  font-size: 16px;
  background-color: $base-colour;
  color: $secondary-colour;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//General Use
a {
  color: inherit;
  text-decoration: none;
}

.disabled {
  background-color: $base-colour;
  border: 1px solid $secondary-colour;
  color: $secondary-colour-lighter;
  opacity: 50%;
  pointer-events: none;
}
.textItalic {
  font-style: italic;
  color: grey;
  font-size: 1rem;
}
.hidden {
  display: none;
}
.timerHidden {
  visibility: hidden;
}

hr {
  border: 0;
  border-top: 1px solid $accent-colour-darker;
  width: 40%;
  align-self: center;
}

.logo {
  border-radius: 100%;
}
button {
  align-self: flex-end;
  width: 40%;
  padding: 0.5vw;
  border: none;
  padding: 0.5vw 1vw;
  background-color: $accent-colour;
  color: $secondary-colour-lighter;
}
.form-group p {
  color: $accent-colour;
  width: 100%;
  text-align: end;
}

//header and footer
header {
  background-color: $base-colour-darker;
  display: flex;
  justify-content: space-between;
  padding: 1vw 6vw;
  .logoDiv {
    display: flex;
    justify-content: space-between;
    column-gap: 1vw;
    align-items: center;
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-between;
      column-gap: 1vw;
      li {
        list-style: none;
      }
    }
  }
}

footer {
  background-color: $base-colour-darker;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 1vw 6vw;
  .footerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .links {
    padding: 2vw;
  }
  ul {
    padding: 0;

    li {
      list-style: none;
      color: $secondary-colour-lighter;
    }
  }
}
//Contact
.contactMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5vw;
  column-gap: 3vw;
  justify-items: center;
  align-items: center;
  height: 100%;
}

// index and schedule
.indexMain,
.scheduleMain {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5vw;
  justify-items: center;
  align-items: center;
  height: 100%;
}

//Ticket General
.ticketMain {
  position: relative;
  margin: 5vw;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3vw;
  section {
    padding: 4vw;
    h1 {
      margin: 0;
    }
  }
}
//ticket - sections

#infoGreet {
  // border: 1px aqua solid;
  background-color: $base-colour-darker;
}

#infoAvail {
  background-color: $base-colour-darker;
  // border: 1px red solid;
  div {
    display: grid;
    grid-template-columns: 1;
    row-gap: 3vw;
    article {
      background-color: $base-colour;
      // border: 1px blue solid;
      padding: 2vw;
    }
    form {
      display: flex;
      justify-content: space-between;
    }
  }
}

#infoSelect {
  background-color: $base-colour-darker;
  // border: 1px green solid;
  form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3vw;
    div {
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(255, 25, 236);
      padding: 3vw;
      row-gap: 3vw;
      .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 0;
      }
      fieldset {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .label {
          column-gap: 1vw;
        }
      }
    }
  }
}

#infoConfirm {
  background-color: $base-colour-darker;
  // border: 1px purple solid;
}

#infoReserve {
  background-color: $base-colour-darker;
  // border: 1px orange solid;
}

#timer {
  position: fixed;
  z-index: 100;
  right: 2.5vw;
  top: 7.5vw;
  border: yellow 1px solid;
  padding: 2vw 5vw;
  .timerHere {
    background-color: rgb(123, 123, 123);
  }
}

//multipages

#infoTimedOut,
#buyBought {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 248, 255, 0.719);
  display: flex;
  div {
    background-color: white;
    align-self: center;
    margin: 0 auto;
    padding: 5vw 10vw;
    display: flex;
    flex-direction: column;
  }
}

//* Buy section *//

.buyMethod {
  border: solid red 1px;
}
.buyDetails {
  border: green 1px solid;
}

.purchaseMain {
  display: grid;
  grid-template-columns: 1fr;
  margin: 7vw;
  height: 100%;
  column-gap: 7vw;
  position: relative;
  section {
    height: 100%;
  }
  .buyDetails {
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    padding: 2vw;
  }
  .buyDetailsSmall {
    display: flex;
    column-gap: 2vw;
  }
}

.buyBought {
  position: absolute;
}

@media screen and (min-width: 768px) {
  //General Use
  //header and footer
  //Contact
  // index and schedule
  //Ticket General
  //ticket - sections
  //multipages
  //* Buy section *//
  .purchaseMain {
    grid-template-columns: 1fr 30vw;
  }
  @media screen and (min-width: 1101px) {
    //General Use
    //header and footer
    //Contact
    // index and schedule
    //Ticket General
    //ticket - sections
    //multipages
    //* Buy section *//
  }
}
